@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

            /*리셋코드*/
* {MARGIN:0; PADDING:0;}                                        /*헤더 높이 수정, nav 아래 글자 위치 수정, 숙소 리스트 텍스트 줄 간격 수정. footer영역 사이즈 바뀌는것 수정 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none; color: inherit;}

            /*리셋코드*/

              /*header*/

header h2{
    text-align: center;
    font-size:25px;
    font-weight: bold;
    padding:15px 0 15px 0;
}

            /*main*/
#headLine{
	width: 100%;
    height: 1px;
    background-color: #919191;
    margin-bottom: 70px;
}
table{
	margin:0 auto;
}

.font_Style{
	font-family: 'Noto Sans KR', 산세리프;
}
.font_StyleBold{
	font-weight:bold;
	font-size: 17px;
}
.list_Style{
	overflow: scroll;
    border: 1px solid #000;
    display: inline-block;
    width: 243px;
    font-family: 'Noto Sans KR', 산세리프;
    height: 200px;
    vertical-align:middle;
}
#btn_div{
	width: 70px;
    display: inline-block;
    height: 101px;
    vertical-align:middle;
    text-align: center;
}
#main_Area{
    width: 577px;
    margin: 0 auto;
}
button{
	width: 48px;
    height: 25px;
    color: rgba(255,255,255,0.8);
    background-color: #696969;
    font-weight: bold;
    border: 0px solid #000;
    border-radius: 2px;
    cursor: pointer;
}
button:hover{
	color:white;
}
.first_btn{
	margin-bottom: 51px;
	cursor:pointer;
}
.last_btn{
	cursor:pointer;
}
p{
	color:#bbb;
	display: inline-block;
	cursor:pointer;
}
.select_Div{
	margin:2px;
	font-size: 17px;
	cursor:pointer;
}
span{
	display: inline-block;
    width: 100%;
    background-color: #bbb;
    text-align: center;
    height: 22px;
    line-height: 20px;
    color: white;
}
.changeColor{
	background-color:#1E90FF;
	color:white;
}
.guide_Area{
	margin: 60px auto 10px auto;
    width: 574px;
}
.guide_Area h3{
	border-top: 1px solid #919191;
    padding: 18px 0 8px 8px;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Noto Sans KR', 산세리프;
}
ul{
	list-style: square;
    margin: 10px 0 0 36px;
    font-family: 'Noto Sans KR', 산세리프;
}
ul li{
	padding: 10px 0 2px 0;
    font-size: 15px;
    color: #919191;
}
#btn_Area{
	text-align:center;
}
#clear_btn{
	margin-top: 32px;
    width: 133px;
    cursor:pointer;
}
#test_btnArea{
	width: 574px;
    margin: 0 auto;
}
#test_btnArea button{
	float: right;
    width: 108px;
    margin: 15px 2px 0 0;
    cursor:pointer;	
}