@charset "UTF-8";
@charset "UTF-8";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');


            /*리셋코드*/
* {MARGIN:0; PADDING:0;}                                        /*헤더 높이 수정, nav 아래 글자 위치 수정, 숙소 리스트 텍스트 줄 간격 수정. footer영역 사이즈 바뀌는것 수정 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
	line-height: 1;
	font-family: 'Do Hyeon', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none; color: inherit;}
UL,li{list-style:none;}
            /*리셋코드*/

body{
	background-color:aliceblue;
}
#slide_list{
	margin-top:10px; 
	padding-bottom: 50px;
}
#slide_list h4{
	display:inline-block; 
	border-bottom:5px solid rgb(86, 19, 241); 
	margin:20px; 
	padding-bottom:7px;
	font-size:25px;
}
#slide_list img{
	width:270px; 
	height:180px;
}
#slide_list ul{
	display:flex; 
	align-items:center; 
	JUSTIFY-CONTENT: SPACE-BETWEEN; 
	flex-wrap:wrap;
}
#slide_list li{
	width:50%; 
	padding-left: 120px; 
	box-sizing:border-box; 
	padding-bottom:30px;
}
.slide_list{
	font-size: 12px;
	font-weight:bold; 
	line-height:2em;
	text-align: center;
	margin-top: 20px;
}

.slide_list img{
	width: 130px;
    height: 90px;
}
.slide_list ul{
	display:flex; 
	align-items:center; 
	JUSTIFY-CONTENT: SPACE-BETWEEN;
}
.slide_list li{
	padding: 0 50px;
}
.slide_list a{
	padding-bottom:20px;
}
.slide_list .lod_name{ 
	font-size:18px; 
	line-height:2em;
}
#festival_content{
	background-color:white;
	padding: 45px 0px 10px 0;
	width: 860px;
}
#festival_content .swiper-slide,
#best_item .swiper-slide {
    padding-bottom: 20px;
}
.festival_text{
	width: 195px;
}
a{
	cursor:pointer;
}
a:hover{
	color:blue;
}
	
