<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.IndexMapper">
		
		<select id="popLodgingList" resultType="reviewVO">
			SELECT *
				FROM (SELECT ridx,rtype,rprice,lidx,lodgingname,limagename,avgrv 
					FROM (SELECT rm.ridx
							,rm.rtype
							,rm.rprice
							,l.lidx
							,l.lodgingname
							,l.limagename
							,TRUNC (rv.avgrv,1) AS avgrv
						FROM roomtb rm
						,(SELECT ridx, AVG(rvsatisfaction) AS avgrv 
							FROM reviewtb GROUP BY ridx) rv,lodgingtb l 
							WHERE rm.ridx = rv.ridx
								AND l.lidx = rm.lidx
								<![CDATA[AND ROWNUM <= 18]]>
							 	ORDER by rv.avgrv DESC))
		</select>
</mapper>
