<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.IndexMapper">
		
		<select id="popLodgingList" resultType="reviewVO">
			SELECT *
				FROM (SELECT ridx,rtype,rprice,lidx,lodgingname,limagename,avgrv 
					FROM (SELECT rm.ridx
							,rm.rtype
							,rm.rprice
							,l.lidx
							,l.lodgingname
							,l.limagename
							,TRUNC (rv.avgrv,1) AS avgrv
						FROM roomtb rm
						,(SELECT ridx, AVG(rvsatisfaction) AS avgrv 
							FROM reviewtb GROUP BY ridx) rv,lodgingtb l 
							WHERE rm.ridx = rv.ridx
								AND l.lidx = rm.lidx
								<![CDATA[AND ROWNUM <= 18]]>
							 	ORDER by rv.avgrv DESC))
		</select>
		
		<select id="roomCount" resultType="reservVO">
			SELECT ridx ,COUNT(*) as cnt
		  				FROM (SELECT ridx
						  FROM reservtb
						 WHERE schedulerCheck = 'N'
						  <![CDATA[ AND TO_DATE(reserv_endDate) < SYSDATE) a]]>
			GROUP BY ridx
		</select>
		<update id="roomPlus" parameterType="HashMap">
			UPDATE roomtb 
					SET spareroom = spareroom + #{cnt}
					WHERE ridx = #{ridx}
		</update>
		<update id="roomPlus2" parameterType="int">
			UPDATE reservtb 
					SET schedulerCheck = 'Y'
					WHERE ridx = #{ridx}
		</update>
		
		<!-- 메인페이지 페스티발 리스트 상위 1~6개 리스트-->
		<select id="mainFestivalList" resultType="festivalVO">
			SELECT ftidx
				,ftname
				,ftAddr
				,ftSubContent
				,ftImgName 
					FROM festivaltb 
					 <![CDATA[	WHERE ROWNUM <=6 ]]>
						AND FTREGISTRATION = 'Y' 
						ORDER BY ftUpdate asc
		</select>
		
		
		<!-- 메인페이지 페스티발 페이지 -->
		<select id="mainFestivalPage" parameterType="int" resultType="festivalVO">
			SELECT ftName
				,ftMainContent
				,ftLink
				,ftLatitude
				,ftLongitude
				,ftImgName 
					FROM FESTIVALTB 
					WHERE ftidx = #{ftidx}
		</select>
		
		<!-- 메인페이지 인기 여행지 리스트 상위 1~6개 리스트-->
		<select id="mainTripList" resultType="tripVO">
			SELECT tidx
				,tname
				,tAddr
				,tSubContent
				,tImgName 
					FROM triptb 
					 <![CDATA[	WHERE ROWNUM <=6 ]]>
						AND TREGISTRATION = 'Y' 
						ORDER BY tUpdate asc
		</select>
		<!-- 메인페이지 인기 여행지 페이지 -->
		<select id="mainTripPage" parameterType="int" resultType="tripVO">
			SELECT tName
				,tMainContent
				,tLink
				,tLatitude
				,tLongitude
				,tImgName 
					FROM TRIPTB 
					WHERE tidx = #{tidx}
		</select>
		<!-- 메인페이지 인기 여행지 리스트 4~6-->
</mapper>
