<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.projectA.mapper.lodgingMapper">

	<!-- <select id="selectList" parameterType="String" resultType="lodgingVO">
		SELECT l.lidx
			 , l.lodgingname
			 , l.lodgingaddr
			 , l.satis			
			 , r.ridx
			 , r.rnum
			 , r.rprice
		FROM lodgingtb l, roomtb r
		WHERE l.lidx = r.lidx
		  AND lodgingkind = #{lodgingkind} 
	</select> 
	<select id="selectList1" parameterType="String" resultType="lodgingVO">
		SELECT * FROM lodgingtb
		 WHERE lodgingkind = #{lodgingkind}
	</select>	
	<select id="selectList2" parameterType="String" resultType="roomVO">
		SELECT * FROM roomtb
		<choose>
			<when test = " value!= null and value=='2'">
				order by lidx, rprice
			</when>
			<when test = "value!= null and value=='3'">
				order by rprice desc
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>-->
	<resultMap type="HashMap" id="lodgingList">
		<id column="lidx" property="lidx" />
		<id column="lodgingkind" property="lodgingkind" />
		<id column="lodgingname" property="lodgingname" />
		<id column="lodgingaddr" property="lodgingaddr" />
		<id column="satis" property="satis" />
		<id column="reviewnum"	property="reviewnum" />
		<id column="local" property="local" />
		<id column="limagename" property="limagename" />
		<id column="intro" property="intro" />
		<id column="ridx" property="ridx" />
		<id column="spareroom" property="spareroom" />
		<id column="allprice" property="allprice" />
		<id column="bed" property="bed" />
		<id column="stdmen" property="stdmen" />
		<id column="maxmen" property="maxmen" />
		<id column="roomspa" property="roomspa" />
		<id column="wifi" property="wifi" />
		<id column="tv" property="tv" />
		<id column="refri" property="refri" />
		<id column="bath" property="bath" />
		<id column="iron" property="iron" />
		<id column="minibar" property="minibar" />
		<id column="bathitem" property="bathitem" />
		<id column="aircon" property="aircon" />
		<id column="shower" property="shower" />
		<id column="dryer" property="dryer" />
		<id column="ricecooker" property="ricecooker" />
		<id column="fitness" property="fitness" />
		<id column="sauna" property="sauna" />
		<id column="restaurant"	property="restaurant" />
		<id column="lounge" property="lounge" />
		<id column="bbq" property="bbq" />
		<id column="publicspa" property="publicspa" />
		<id column="seminar" property="seminar" />
		<id column="singing" property="singing" />
		<id column="washingmachine" property="washingmachine" />
		<id column="dehydrator" property="dehydrator" />
		<id column="cooking" property="cooking" />
		<id column="spa" property="spa" />
		<id column="pool" property="pool" />
		<id column="golf" property="golf" />
		<id column="elevator" property="elevator" />
		<id column="pc" property="pc" />
		<id column="cafe" property="cafe" />
		<id column="footvolleyball" property="footvolleyball" />
		<id column="store" property="store" />
		<id column="dining" property="dining" />
		<id column="dryingmachine" property="dryingmachine" />
		<id column="parking" property="parking" />
		<id column="publicshower" property="publicshower" />
		<id column="ski" property="ski" />
		<id column="pickup" property="pickup" />
		<id column="printer" property="printer" />
		<id column="locker" property="locker" />
		<id column="breakfast" property="breakfast" />
		<id column="valetparking" property="valetparking" />
		<id column="dog" property="dog" />
		<id column="inroomcooking" property="inroomcooking" />
		<id column="keepluggage" property="keepluggage" />
		<id column="freeparking" property="freeparking" />
		<id column="inroomsmoking" property="inroomsmoking" />
		<id column="nosmoking" property="nosmoking" />
		<id column="creditcard" property="creditcard" />
	</resultMap> 
	<!-- 숙소리스트 -->
	<select id="selectLodgingList" parameterType="HashMap" resultMap="lodgingList">
		<![CDATA[
		SELECT l.lidx
				, l.limagename
				, l.lodgingname
				, l.lodgingaddr
				, l.satis
				, (r.rprice * (SELECT STR_TO_DATE(#{toDate},'%Y-%m-%d') - STR_TO_DATE(#{fromDate},'%Y-%m-%d') FROM dual)) AS allprice
				, rm.spareroom
		FROM (SELECT r.ridx
					, r.RNUM - (SELECT MAX(IFNULL((SELECT COUNT(rs.ridx)
												FROM reservtb rs
												WHERE rs.ridx = r.ridx
													AND rs.reserv_startDate = days.day
													OR (rs.reserv_startDate < days.day and rs.reserv_endDate > days.day)
													OR (rs.reserv_startDate > days.day and rs.reserv_endDate < days.day)
								),0)) AS cnt
								FROM (WITH RECURSIVE CTE_CONNECT_BY AS (
				SELECT 1 AS LEVEL
				UNION ALL
				SELECT LEVEL + 1 AS LEVEL FROM CTE_CONNECT_BY WHERE LEVEL <= str_to_date(#{toDate},'%Y-%m-%d') - str_to_date(#{fromDate},'%Y-%m-%d')-1
				)
				SELECT date_format(date_add(str_to_date(#{fromDate},'%Y-%m-%d'), interval ((LEVEL-1)) * 86400 second),'%Y-%m-%d') AS day
														FROM cte_connect_by
				) days
					) AS spareroom
				FROM roomtb r) rm, lodgingtb l, roomtb r, roomintb rin, lodgingintb lin
				WHERE l.lidx = r.lidx
					AND l.lidx = lin.lidx
					AND r.ridx = rin.ridx
					AND rm.ridx = r.ridx
					AND r.ridx IN (SELECT MIN(a.ridx)
									FROM (SELECT r.*
											FROM lodgingtb l, roomtb r
											WHERE l.lidx = r.lidx
												AND l.lodgingkind = #{lodgingkind}
												AND rm.spareroom > 0
												ORDER BY r.ridx
											) a
									GROUP BY a.lidx)
		]]>
		<choose>
			<when test ="area != null and area == '서울 전체'">
				AND local like '10%'
			</when>
			<when test ="area != null and area == '홍대/신촌/마포'">
				AND local = 1002
			</when>
			<when test ="area != null and area == '북촌/인사동/종로/동대문'">
				AND local = 1003
			</when>
			<when test ="area != null and area == '명동/남산/중구'">
				AND local = 1004
			</when>
			<when test ="area != null and area == '강남/잠실/삼성/서초'">
				AND local = 1005
			</when>
			<when test ="area != null and area == '이태원/서울역/용산'">
				AND local = 1006
			</when>
			<when test ="area != null and area == '영등포/신림/김포공항'">
				AND local = 1007
			</when>
			<when test ="area != null and area == '부산 전체'">
				AND local like '20%'
			</when>
			<when test ="area != null and area == '해운대/마린시티'">
				AND local = 2002
			</when>
			<when test ="area != null and area == '광안리/경성대'">
				AND local = 2003
			</when>
			<when test ="area != null and area == '부산역'">
				AND local = 2004
			</when>
			<when test ="area != null and area == '송정/기장'">
				AND local = 2005
			</when>
			<when test ="area != null and area == '자갈치/남포동/영도'">
				AND local = 2006
			</when>
			<when test ="area != null and area == '제주 전체'">
				AND local like '30%'
			</when>
			<when test ="area != null and area == '제주시/제주국제공항'">
				AND local = 3002
			</when>
			<when test ="area != null and area == '서귀포시'">
				AND local = 3003
			</when>
			<when test ="area != null and area == '애월/한림/협재'">
				AND local = 3004
			</when>
			<when test ="area != null and area == '전라 전체'">
				AND local like '40%'
			</when>
			<when test ="area != null and area == '전주/완주'">
				AND local = 4002
			</when>
			<when test ="area != null and area == '광주/나주'">
				AND local = 4003
			</when>
			<when test ="area != null and area == '여수'">
				AND local = 4004
			</when>
			<when test ="area != null and area == '순천/광양/담양/보성/화순'">
				AND local = 4005
			</when>
			<when test ="area != null and area == '군산/익산'">
				AND local = 4006
			</when>
			<when test ="area != null and area == '목포/신안/영광/진도/고흥/영암/완도'">
				AND local = 4007
			</when>
			<when test ="area != null and area == '경기 전체'">
				AND local like '50%'
			</when>
			<when test ="area != null and area == '수원/화성'">
				AND local = 5002
			</when>
			<when test ="area != null and area == '남양주/구리/성남/분당'">
				AND local = 5003
			</when>
			<when test ="area != null and area == '용인/동탄'">
				AND local = 5004
			</when>
			<when test ="area != null and area == '이천/광주/여주/하남'">
				AND local = 5005
			</when>
			<when test ="area != null and area == '가평/청평/양평'">
				AND local = 5006
			</when>
			<when test ="area != null and area == '부천/광명/시흥/안산'">
				AND local = 5007
			</when>
			<when test ="area != null and area == '인천 전체'">
				AND local like '60%'
			</when>
			<when test ="area != null and area == '송도/소래포구'">
				AND local = 6002
			</when>
			<when test ="area != null and area == '구읍뱃터/월미'">
				AND local = 6003
			</when>
			<when test ="area != null and area == '인천국제공항/강화/을왕리/영종'">
				AND local = 6004
			</when>
			<when test ="area != null and area == '청라/계양/부평'">
				AND local = 6005
			</when>
			<when test ="area != null and area == '강원 전체'">
				AND local like '70%'
			</when>
			<when test ="area != null and area == '속초/양양/고성'">
				AND local = 7002
			</when>
			<when test ="area != null and area == '강릉'">
				AND local = 7003
			</when>
			<when test ="area != null and area == '평창/정선/영월'">
				AND local = 7004
			</when>
			<when test ="area != null and area == '동해/삼척/태백'">
				AND local = 7005
			</when>
			<when test ="area != null and area == '경상 전체'">
				AND local like '80%'
			</when>
			<when test ="area != null and area == '경주'">
				AND local = 8002
			</when>
			<when test ="area != null and area == '울산/양산'">
				AND local = 8003
			</when>
			<when test ="area != null and area == '거제/통영'">
				AND local = 8004
			</when>
			<when test ="area != null and area == '포항/영덕/울진/청송'">
				AND local = 8005
			</when>
			<when test ="area != null and area == '창원/마산/진해/김해'">
				AND local = 8006
			</when>
			<when test ="area != null and area == '충청 전체'">
				AND local like '90%'
			</when>
			<when test ="area != null and area == '대전/세종'">
				AND local = 9002
			</when>
			<when test ="area != null and area == '천안/아산/도고'">
				AND local = 9003
			</when>
			<when test ="area != null and area == '보령/대천/부여/공주/금산'">
				AND local = 9004
			</when>
			<when test ="area != null and area == '청주/음성/진천'">
				AND local = 9005
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<if test="men != null and men != ''">
			AND r.maxmen <![CDATA[>=]]> ${men}
		</if>
		<trim> <!-- prefix="AND (" prefixOverrides="OR" suffix=")"> -->
			<if test="bedArr != null">
				AND bed IN
				<foreach collection="bedArr" item="obj" open="(" close=")" separator=",">
					#{obj}
				</foreach>
			</if>
			<if test="fitness == 'on'">
				AND lin.fitness = 'Y'
			</if>
			<if test="sauna == 'on'">
				AND sauna = 'Y'
			</if>
			<if test="restaurant == 'on'">
				AND restaurant = 'Y'
			</if>
			<if test="lounge == 'on'">
				AND lounge = 'Y'
			</if>
			<if test="bbq == 'on'">
				AND bbq = 'Y'
			</if>
			<if test="publicspa == 'on'">
				AND publicspa = 'Y'
			</if>
			<if test="seminar == 'on'">
				AND seminar = 'Y'
			</if>
			<if test="singing == 'on'">
				AND singing = 'Y'
			</if>
			<if test="washingmachine == 'on'">
				AND washingmachine = 'Y'
			</if>
			<if test="dehydrator == 'on'">
				AND dehydrator = 'Y'
			</if>
			<if test="cooking == 'on'">
				AND cooking = 'Y'
			</if>
			<if test="spa == 'on'">
				AND spa = 'Y'
			</if>
			<if test="pool == 'on'">
				AND pool = 'Y'
			</if>
			<if test="golf == 'on'">
				AND golf = 'Y'
			</if>
			<if test="elevator == 'on'">
				AND elevator = 'Y'
			</if>
			<if test="pc == 'on'">
				AND pc = 'Y'
			</if>
			<if test="cafe == 'on'">
				AND cafe = 'Y'
			</if>
			<if test="footvolleyball == 'on'">
				AND footvolleyball = 'Y'
			</if>
			<if test="store == 'on'">
				AND store = 'Y'
			</if>
			<if test="dining == 'on'">
				AND dining = 'Y'
			</if>
			<if test="dryingmachine == 'on'">
				AND dryingmachine = 'Y'
			</if>
			<if test="parking == 'on'">
				AND parking = 'Y'
			</if>
			<if test="publicshower == 'on'">
				AND publicshower = 'Y'
			</if>
			<if test="ski == 'on'">
				AND ski = 'Y'
			</if>
			<if test="roomspa == 'on'">
				AND roomspa = 'Y'
			</if>
			<if test="wifi == 'on'">
				AND wifi = 'Y'
			</if>
			<if test="tv == 'on'">
				AND tv = 'Y'
			</if>
			<if test="refri == 'on'">
				AND refri = 'Y'
			</if>
			<if test="bath == 'on'">
				AND bath = 'Y'
			</if>
			<if test="iron == 'on'">
				AND iron = 'Y'
			</if>
			<if test="minibar == 'on'">
				AND minibar = 'Y'
			</if>
			<if test="bathitem == 'on'">
				AND bathitem = 'Y'
			</if>
			<if test="aircon == 'on'">
				AND aircon = 'Y'
			</if>
			<if test="shower == 'on'">
				AND shower = 'Y'
			</if>
			<if test="dryer == 'on'">
				AND dryer = 'Y'
			</if>
			<if test="ricecooker == 'on'">
				AND ricecooker = 'Y'
			</if>
			<if test="pickup == 'on'">
				AND pickup = 'Y'
			</if>
			<if test="printer == 'on'">
				AND printer = 'Y'
			</if>
			<if test="locker == 'on'"
				>AND locker = 'Y'
			</if>
			<if test="breakfast == 'on'">
				AND breakfast = 'Y'
			</if>
			<if test="valetparking == 'on'">
				AND valetparking = 'Y'
			</if>
			<if test="dog == 'on'">
				AND dog = 'Y'
			</if>
			<if test="inroomcooking == 'on'">
				AND inroomcooking = 'Y'
			</if>
			<if test="keepluggage == 'on'">
				AND keepluggage = 'Y'
			</if>
			<if test="freeparking == 'on'">
				AND freeparking = 'Y'
			</if>
			<if test="inroomsmoking == 'on'">
				AND inroomsmoking = 'Y'
			</if>
			<if test="nosmoking == 'on'">
				AND creditcard = 'Y'
			</if>
		</trim>
		<choose>
			<when test ="type == 1">
				order by lidx desc
			</when>
			<when test ="type == 2">
				order by rprice
			</when>
			<when test ="type == 3">
				order by rprice desc
			</when>
			<when test ="type == 4">
				order by satis desc
			</when>
			<when test ="type == 5">
				order by reviewnum desc
			</when>
		</choose>
	</select>
		
	
	
	<!-- 숙소 리스트 + 검색 -->
	<select id="listSearch" parameterType="HashMap" resultMap="lodgingList">
		<![CDATA[
		SELECT l.lidx
				, l.limagename
				, l.lodgingname
				, l.lodgingaddr
				, l.satis
				, (r.rprice * (SELECT STR_TO_DATE(#{toDate},'%Y-%m-%d') - STR_TO_DATE(#{fromDate},'%Y-%m-%d') FROM dual)) AS allprice
				, rm.spareroom
		FROM (SELECT r.ridx
					, r.RNUM - (SELECT MAX(IFNULL((SELECT COUNT(rs.ridx)
												FROM reservtb rs
												WHERE rs.ridx = r.ridx
													AND rs.reserv_startDate = days.day
													OR (rs.reserv_startDate < days.day and rs.reserv_endDate > days.day)
													OR (rs.reserv_startDate > days.day and rs.reserv_endDate < days.day)
								),0)) AS cnt
								FROM (WITH RECURSIVE CTE_CONNECT_BY AS (
				SELECT 1 AS LEVEL
				UNION ALL
				SELECT LEVEL + 1 AS LEVEL FROM CTE_CONNECT_BY WHERE LEVEL <= str_to_date(#{toDate},'%Y-%m-%d') - str_to_date(#{fromDate},'%Y-%m-%d')-1
				)
				SELECT date_format(date_add(str_to_date(#{fromDate},'%Y-%m-%d'), interval ((LEVEL-1)) * 86400 second),'%Y-%m-%d') AS day
														FROM cte_connect_by
				) days
					) AS spareroom
				FROM roomtb r) rm, lodgingtb l, roomtb r, roomintb rin, lodgingintb lin
				WHERE l.lidx = r.lidx
					AND l.lidx = lin.lidx
					AND r.ridx = rin.ridx
					AND rm.ridx = r.ridx
					AND r.ridx IN (SELECT MIN(a.ridx)
									FROM (SELECT r.*
											FROM lodgingtb l, roomtb r
											WHERE l.lidx = r.lidx
												AND rm.spareroom > 0
												]]>
												ORDER BY r.ridx
											) a
									WHERE 1=1
									<include refid="search"></include>
									GROUP BY a.lidx)
		<choose>
			<when test ="area != null and area == '서울 전체'">
				AND local like '10%'
			</when>
			<when test ="area != null and area == '홍대/신촌/마포'">
				AND local = 1002
			</when>
			<when test ="area != null and area == '북촌/인사동/종로/동대문'">
				AND local = 1003
			</when>
			<when test ="area != null and area == '명동/남산/중구'">
				AND local = 1004
			</when>
			<when test ="area != null and area == '강남/잠실/삼성/서초'">
				AND local = 1005
			</when>
			<when test ="area != null and area == '이태원/서울역/용산'">
				AND local = 1006
			</when>
			<when test ="area != null and area == '영등포/신림/김포공항'">
				AND local = 1007
			</when>
			<when test ="area != null and area == '부산 전체'">
				AND local like '20%'
			</when>
			<when test ="area != null and area == '해운대/마린시티'">
				AND local = 2002
			</when>
			<when test ="area != null and area == '광안리/경성대'">
				AND local = 2003
			</when>
			<when test ="area != null and area == '부산역'">
				AND local = 2004
			</when>
			<when test ="area != null and area == '송정/기장'">
				AND local = 2005
			</when>
			<when test ="area != null and area == '자갈치/남포동/영도'">
				AND local = 2006
			</when>
			<when test ="area != null and area == '제주 전체'">
				AND local like '30%'
			</when>
			<when test ="area != null and area == '제주시/제주국제공항'">
				AND local = 3002
			</when>
			<when test ="area != null and area == '서귀포시'">
				AND local = 3003
			</when>
			<when test ="area != null and area == '애월/한림/협재'">
				AND local = 3004
			</when>
			<when test ="area != null and area == '전라 전체'">
				AND local like '40%'
			</when>
			<when test ="area != null and area == '전주/완주'">
				AND local = 4002
			</when>
			<when test ="area != null and area == '광주/나주'">
				AND local = 4003
			</when>
			<when test ="area != null and area == '여수'">
				AND local = 4004
			</when>
			<when test ="area != null and area == '순천/광양/담양/보성/화순'">
				AND local = 4005
			</when>
			<when test ="area != null and area == '군산/익산'">
				AND local = 4006
			</when>
			<when test ="area != null and area == '목포/신안/영광/진도/고흥/영암/완도'">
				AND local = 4007
			</when>
			<when test ="area != null and area == '경기 전체'">
				AND local = 50%
			</when>
			<when test ="area != null and area == '수원/화성'">
				AND local = 5002
			</when>
			<when test ="area != null and area == '남양주/구리/성남/분당'">
				AND local = 5003
			</when>
			<when test ="area != null and area == '용인/동탄'">
				AND local = 5004
			</when>
			<when test ="area != null and area == '이천/광주/여주/하남'">
				AND local = 5005
			</when>
			<when test ="area != null and area == '가평/청평/양평'">
				AND local = 5006
			</when>
			<when test ="area != null and area == '부천/광명/시흥/안산'">
				AND local = 5007
			</when>
			<when test ="area != null and area == '인천 전체'">
				AND local = 60%
			</when>
			<when test ="area != null and area == '송도/소래포구'">
				AND local = 6002
			</when>
			<when test ="area != null and area == '구읍뱃터/월미'">
				AND local = 6003
			</when>
			<when test ="area != null and area == '인천국제공항/강화/을왕리/영종'">
				AND local = 6004
			</when>
			<when test ="area != null and area == '청라/계양/부평'">
				AND local = 6005
			</when>
			<when test ="area != null and area == '강원 전체'">
				AND local = 70%
			</when>
			<when test ="area != null and area == '속초/양양/고성'">
				AND local = 7002
			</when>
			<when test ="area != null and area == '강릉'">
				AND local = 7003
			</when>
			<when test ="area != null and area == '평창/정선/영월'">
				AND local = 7004
			</when>
			<when test ="area != null and area == '동해/삼척/태백'">
				AND local = 7005
			</when>
			<when test ="area != null and area == '경상 전체'">
				AND local = 80%
			</when>
			<when test ="area != null and area == '경주'">
				AND local = 8002
			</when>
			<when test ="area != null and area == '울산/양산'">
				AND local = 8003
			</when>
			<when test ="area != null and area == '거제/통영'">
				AND local = 8004
			</when>
			<when test ="area != null and area == '포항/영덕/울진/청송'">
				AND local = 8005
			</when>
			<when test ="area != null and area == '창원/마산/진해/김해'">
				AND local = 8006
			</when>
			<when test ="area != null and area == '충청 전체'">
				AND local = 90%
			</when>
			<when test ="area != null and area == '대전/세종'">
				AND local = 9002
			</when>
			<when test ="area != null and area == '천안/아산/도고'">
				AND local = 9003
			</when>
			<when test ="area != null and area == '보령/대천/부여/공주/금산'">
				AND local = 9004
			</when>
			<when test ="area != null and area == '청주/음성/진천'">
				AND local = 9005
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<if test="men != null and men != ''">
			AND r.maxmen <![CDATA[>=]]> ${men}
		</if>
		<trim prefix="AND (" prefixOverrides="OR" suffix=")">
			<if test="bedArr != null">
				bed IN
				<foreach collection="bedArr" item="obj" open="(" close=")" separator=",">
					#{obj}
				</foreach>
			</if>
			<if test="fitness == 'on'">
				OR lin.fitness = 'Y'
			</if>
			<if test="sauna == 'on'">
				OR sauna = 'Y'
			</if>
			<if test="restaurant == 'on'">
				OR restaurant = 'Y'
			</if>
			<if test="lounge == 'on'">
				OR lounge = 'Y'
			</if>
			<if test="bbq == 'on'">
				OR bbq = 'Y'
			</if>
			<if test="publicspa == 'on'">
				OR publicspa = 'Y'
			</if>
			<if test="seminar == 'on'">
				OR seminar = 'Y'
			</if>
			<if test="singing == 'on'">
				OR singing = 'Y'
			</if>
			<if test="washingmachine == 'on'">
				OR washingmachine = 'Y'
			</if>
			<if test="dehydrator == 'on'">
				OR dehydrator = 'Y'
			</if>
			<if test="cooking == 'on'">
				OR cooking = 'Y'
			</if>
			<if test="spa == 'on'">
				OR spa = 'Y'
			</if>
			<if test="pool == 'on'">
				OR pool = 'Y'
			</if>
			<if test="golf == 'on'">
				OR golf = 'Y'
			</if>
			<if test="elevator == 'on'">
				OR elevator = 'Y'
			</if>
			<if test="pc == 'on'">
				OR pc = 'Y'
			</if>
			<if test="cafe == 'on'">
				OR cafe = 'Y'
			</if>
			<if test="footvolleyball == 'on'">
				OR footvolleyball = 'Y'
			</if>
			<if test="store == 'on'">
				OR store = 'Y'
			</if>
			<if test="dining == 'on'">
				OR dining = 'Y'
			</if>
			<if test="dryingmachine == 'on'">
				OR dryingmachine = 'Y'
			</if>
			<if test="parking == 'on'">
				OR parking = 'Y'
			</if>
			<if test="publicshower == 'on'">
				OR publicshower = 'Y'
			</if>
			<if test="ski == 'on'">
				OR ski = 'Y'
			</if>
			<if test="roomspa == 'on'">
				OR roomspa = 'Y'
			</if>
			<if test="wifi == 'on'">
				OR wifi = 'Y'
			</if>
			<if test="tv == 'on'">
				OR tv = 'Y'
			</if>
			<if test="refri == 'on'">
				OR refri = 'Y'
			</if>
			<if test="bath == 'on'">
				OR bath = 'Y'
			</if>
			<if test="iron == 'on'">
				OR iron = 'Y'
			</if>
			<if test="minibar == 'on'">
				OR minibar = 'Y'
			</if>
			<if test="bathitem == 'on'">
				OR bathitem = 'Y'
			</if>
			<if test="aircon == 'on'">
				OR aircon = 'Y'
			</if>
			<if test="shower == 'on'">
				OR shower = 'Y'
			</if>
			<if test="dryer == 'on'">
				OR dryer = 'Y'
			</if>
			<if test="ricecooker == 'on'">
				OR ricecooker = 'Y'
			</if>
			<if test="pickup == 'on'">
				OR pickup = 'Y'
			</if>
			<if test="printer == 'on'">
				OR printer = 'Y'
			</if>
			<if test="locker == 'on'"
				>OR locker = 'Y'
			</if>
			<if test="breakfast == 'on'">
				OR breakfast = 'Y'
			</if>
			<if test="valetparking == 'on'">
				OR valetparking = 'Y'
			</if>
			<if test="dog == 'on'">
				OR dog = 'Y'
			</if>
			<if test="inroomcooking == 'on'">
				OR inroomcooking = 'Y'
			</if>
			<if test="keepluggage == 'on'">
				OR keepluggage = 'Y'
			</if>
			<if test="freeparking == 'on'">
				OR freeparking = 'Y'
			</if>
			<if test="inroomsmoking == 'on'">
				OR inroomsmoking = 'Y'
			</if>
			<if test="nosmoking == 'on'">
				OR creditcard = 'Y'
			</if>
		</trim>
		<choose>
			<when test ="type == 1">
				order by lidx desc
			</when>
			<when test ="type == 2">
				order by rprice
			</when>
			<when test ="type == 3">
				order by rprice desc
			</when>
			<when test ="type == 4">
				order by satis desc
			</when>
			<when test ="type == 5">
				order by reviewnum desc
			</when>
		</choose>
	</select>
	
	
	<!-- 검색된 숙소 개수  -->
	<select id="countSearch" resultType="int" parameterType="searchCriteria">
		SELECT COUNT(lidx) 
			FROM lodgingtb
				<include refid="search"></include>
	<![CDATA[
		AND lidx > 0
	]]>
	</select>
	
		
<sql id="search">
<if test="searchType != null and searchType.equals('ln')">
and lodgingname like concat('%',#{keyword},'%')
</if>
<if test="searchType != null and searchType.equals('la')">
and lodgingaddr like concat('%',#{keyword},'%')
</if>
</sql>
	
	<resultMap type="HashMap" id="lodgingAll">
		<id column="lidx" property="lidx" />
		<id column="lodgingkind" property="lodgingkind" />
		<id column="lodgingname" property="lodgingname" />
		<id column="lodgingaddr" property="lodgingaddr" />
		<id column="satis" property="satis" />
		<id column="reviewnum"	property="reviewnum" />
		<id column="local" property="local" />
		<id column="limagename" property="limagename" />
		<id column="intro" property="intro" />
		<id column="fitness" property="fitness" />
		<id column="sauna" property="sauna" />
		<id column="restaurant"	property="restaurant" />
		<id column="lounge" property="lounge" />
		<id column="bbq" property="bbq" />
		<id column="publicspa" property="publicspa" />
		<id column="seminar" property="seminar" />
		<id column="singing" property="singing" />
		<id column="washingmachine" property="washingmachine" />
		<id column="dehydrator" property="dehydrator" />
		<id column="cooking" property="cooking" />
		<id column="spa" property="spa" />
		<id column="pool" property="pool" />
		<id column="golf" property="golf" />
		<id column="elevator" property="elevator" />
		<id column="pc" property="pc" />
		<id column="cafe" property="cafe" />
		<id column="footvolleyball" property="footvolleyball" />
		<id column="store" property="store" />
		<id column="dining" property="dining" />
		<id column="dryingmachine" property="dryingmachine" />
		<id column="parking" property="parking" />
		<id column="publicshower" property="publicshower" />
		<id column="ski" property="ski" />
		<id column="pickup" property="pickup" />
		<id column="printer" property="printer" />
		<id column="locker" property="locker" />
		<id column="breakfast" property="breakfast" />
		<id column="valetparking" property="valetparking" />
		<id column="dog" property="dog" />
		<id column="inroomcooking" property="inroomcooking" />
		<id column="keepluggage" property="keepluggage" />
		<id column="freeparking" property="freeparking" />
		<id column="inroomsmoking" property="inroomsmoking" />
		<id column="nosmoking" property="nosmoking" />
		<id column="creditcard" property="creditcard" />
		<id column="area1" property="area1" />
		<id column="area2" property="area2" />
		<id column="area2" property="area2" />
		<id column="area3" property="area3" />
		<id column="area4" property="area4" />
		<id column="area5" property="area5" />
		<id column="basic1" property="basic1" />
		<id column="basic2" property="basic2" />
		<id column="basic3" property="basic3" />
		<id column="basic4" property="basic4" />
		<id column="basic5" property="basic5" />
		<id column="odd1" property="odd1" />
		<id column="odd2" property="odd2" />
		<id column="odd3" property="odd3" />
		<id column="odd4" property="odd4" />
		<id column="odd5" property="odd5" />
	</resultMap> 
		<!-- column은 DB의 출력하는 칼럼명, property는 Key값 -->
	<!-- 숙소상세 -->
	<select id="selectLodging" parameterType="int" resultMap="lodgingAll">
		SELECT *
		 FROM lodgingtb l, lodgingintb i, lodginginfotb f
		WHERE l.lidx = i.lidx
		  AND l.lidx = f.lidx
		  AND l.lidx = #{lidx}
	</select>
	<select id="selectRoomList" parameterType="HashMap" resultType="roominVO">
		<![CDATA[
		SELECT r2.*
			 , rm.spareroom
			 , i.*
			 , (r2.rprice * (SELECT STR_TO_DATE(#{toDate},'%Y-%m-%d') - STR_TO_DATE(#{fromDate},'%Y-%m-%d') FROM dual)) AS allprice
		FROM (SELECT r.ridx
					, r.RNUM - (SELECT MAX(IFNULL((SELECT COUNT(rs.ridx)
												FROM reservtb rs
												WHERE rs.ridx =  r.ridx
													AND rs.reserv_startDate = days.day 
													OR (rs.reserv_startDate < days.day and rs.reserv_endDate > days.day)
													OR (rs.reserv_startDate > days.day and rs.reserv_endDate < days.day)
            							),0)) AS cnt
            					FROM (WITH RECURSIVE CTE_CONNECT_BY AS (
SELECT 1 AS LEVEL
UNION ALL
SELECT LEVEL + 1 AS LEVEL FROM CTE_CONNECT_BY WHERE LEVEL <= str_to_date(#{toDate},'%Y-%m-%d') - str_to_date(#{fromDate},'%Y-%m-%d')-1
)
SELECT date_format(date_add(str_to_date(#{fromDate},'%Y-%m-%d'), interval ((LEVEL-1)) * 86400 second),'%Y-%m-%d') AS day
                          				FROM cte_connect_by
) days
            					) 
            		AS spareroom
			FROM roomtb r) rm 
			, ROOMTB r2
			, roomintb i
		WHERE rm.ridx = r2.ridx
		  AND r2.ridx = i.ridx
		  AND rm.ridx = i.ridx
		  AND r2.lidx = #{lidx}
		]]>
		<if test="men != null and men != ''">
			AND r2.maxmen <![CDATA[>=]]> ${men}
		</if>
		ORDER BY r2.ridx
	</select>
	<!-- reserv -->
	<select id="selectRoom" parameterType="int" resultType="roomVO">
		SELECT r.ridx
			 , r.rtype
			 , r.rprice		
			 , l.lodgingname
			 , u.username
			 , u.userphone
			 , u.usertype
			 , u.userEmail
		 FROM roomtb r, lodgingtb l, ausertb u
		 WHERE r.lidx = l.lidx
		  AND l.uidx = u.uidx 
		  AND r.ridx = #{ridx}
	</select>
	<!-- 리뷰 목록 -->
	<select id="selectReview" parameterType="HashMap" resultType="reviewVO">
		SELECT rvtitle
			 , rvcontent
			 , rvsatisfaction
			 , rvdate
		  FROM (SELECT rvtitle
					 , rvcontent
					 , rvsatisfaction
					 , rvdate
					 , row_number() over(ORDER BY rvdate DESC) 
					 AS rvnum
				  FROM reviewtb
				 WHERE lidx = #{lidx}
				) a
		 WHERE rvnum BETWEEN #{rowStart} and #{rowEnd}
		 ORDER BY rvdate DESC
	</select>
	<select id="RVCount" parameterType="int" resultType="int">
			SELECT count(rvidx)
			  FROM reviewtb
			 WHERE lidx = #{lidx}
	</select> 
	<!-- 숙소의 리뷰 총 갯수, 평균 -->
	<select id="selectLodgingRV" parameterType="int" resultType="reviewVO">
		SELECT countrv
			 , avgrv
		  FROM (SELECT COUNT(rvidx) as countrv
					 , truncate(avg(RVSATISFACTION),1) as avgrv
				  FROM reviewtb
				 WHERE lidx = #{lidx}
				) a
	</select>
</mapper>


