<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.projectA.mapper.lodgingMapper">

	<!-- <select id="selectList" parameterType="String" resultType="lodgingVO">
		SELECT l.lidx
			 , l.lodgingname
			 , l.lodgingaddr
			 , l.satis			
			 , r.ridx
			 , r.rnum
			 , r.rprice
		FROM lodgingtb l, roomtb r
		WHERE l.lidx = r.lidx
		  AND lodgingkind = #{lodgingkind} 
	</select> 
	<select id="selectList1" parameterType="String" resultType="lodgingVO">
		SELECT * FROM lodgingtb
		 WHERE lodgingkind = #{lodgingkind}
	</select>	
	<select id="selectList2" parameterType="String" resultType="roomVO">
		SELECT * FROM roomtb
		<choose>
			<when test = " value!= null and value=='2'">
				order by lidx, rprice
			</when>
			<when test = "value!= null and value=='3'">
				order by rprice desc
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>-->
	
	<!-- 숙소리스트 -->
	<select id="selectLodgingList" parameterType="HashMap" resultType="roomVO">
		SELECT *
 		  FROM lodgingtb lg, roomtb r
 		 WHERE lg.lidx = r.lidx
  		   AND ridx IN (SELECT MIN(a.ridx)
						 FROM (SELECT r.*
								 FROM lodgingtb lg, roomtb r
								WHERE lg.lidx = r.lidx
								  AND lg.lodgingkind = #{lodgingkind}
								  AND r.rnum > 0
							 order BY r.ridx	   
							  ) a
					 GROUP BY a.lidx)
		<choose>
			<when test ="area != null and area == '서울 전체'">
				AND local like '10%'
			</when>
			<when test ="area != null and area == '홍대/신촌/마포'">
				AND local = 1002
			</when>
			<when test ="area != null and area == '북촌/인사동/종로/동대문'">
				AND local = 1003
			</when>
			<when test ="area != null and area == '명동/남산/중구'">
				AND local = 1004
			</when>
			<when test ="area != null and area == '이태원/서울역/용산'">
				AND local = 1006
			</when>
			<when test ="area != null and area == '부산 전체'">
				AND local like '20%'
			</when>
			<when test ="area != null and area == '해운대/마린시티'">
				AND local = 2002
			</when>
			<when test ="area != null and area == '광안리/경성대'">
				AND local = 2003
			</when>
			<when test ="area != null and area == '송정/기장'">
				AND local = 2005
			</when>
			<when test ="area != null and area == '제주 전체'">
				AND local like '30%'
			</when>
			<when test ="area != null and area == '제주시/제주국제공항'">
				AND local = 3002
			</when>
			<when test ="area != null and area == '전라 전체'">
				AND local like '40%'
			</when>
			<when test ="area != null and area == '전주/완주'">
				AND local = 4002
			</when>
			<when test ="area != null and area == '군산/익산'">
				AND local = 4006
			</when>
			<when test ="area != null and area == '목포/신안/영광/진도/고흥/영암/완도'">
				AND local = 4007
			</when>
			<otherwise>
			</otherwise>
		</choose>
		<choose>
			<when test ="type == 2">
				order by rprice
			</when>
			<when test ="type == 3">
				order by rprice desc
			</when>	
		</choose>
	</select>
	
	<!-- 숙소 검색 리스트 -->
	<select id="selectListSearch" parameterType="String" resultType="RoomVO">
		SELECT *
 		  FROM lodgingtb lg, roomtb r
 		 WHERE lg.lidx = r.lidx
  		   AND ridx IN (SELECT MIN(a.ridx)
						 FROM (SELECT r.*
								 FROM lodgingtb lg, roomtb r
								WHERE lg.lidx = r.lidx
								  AND r.rnum > 0
							 order BY r.ridx	   
							  ) a 
					 GROUP BY a.lidx)

		<choose>
			<when test ="value != null and value == 2">
				order by rprice
			</when>
			<when test ="value != null and value == 3">
				order by rprice desc
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
		
	
	
	<!-- 숙소 리스트 + 검색 -->
	<select id="listSearch" parameterType="HashMap" resultType="RoomVO">
		
		SELECT *
 		  FROM lodgingtb lg, roomtb r
 		 WHERE lg.lidx = r.lidx
  		   AND ridx IN (SELECT MIN(a.ridx)
						 FROM (SELECT r.*
								 FROM lodgingtb lg, roomtb r
								WHERE lg.lidx = r.lidx
								  AND r.rnum > 0
							 order BY r.ridx	   
							  ) a WHERE 1=1 <include refid="search"></include>
					 GROUP BY a.lidx)
		
		<choose>
			<when test ="value != null and value == 2">
				order by rprice
			</when>
			<when test ="value != null and value == 3">
				order by rprice desc
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	
	
	<!-- 검색된 숙소 개수  -->
	<select id="countSearch" resultType="int" parameterType="searchCriteria">
		SELECT COUNT(lidx) 
			FROM lodgingtb
				<include refid="search"></include>
	<![CDATA[
		AND lidx > 0
	]]>
	</select>
	
		
<sql id="search">
<if test="searchType != null and searchType.equals('ln')">
and lodgingname like  '%'||#{keyword}||'%'
</if>
<if test="searchType != null and searchType.equals('la')">
and lodgingaddr like  '%'||#{keyword}||'%'
</if>
</sql>
	
	
	<!-- 숙소상세 -->
	<select id="selectLodging" parameterType="String" resultType="lodgingVO">
		SELECT lidx
			 , limagename
			 , lodgingname
			 , lodgingaddr
			 , satis
			 , reviewnum
			 , uidx		
		 FROM lodgingtb
		WHERE lidx = #{lidx}
	</select>
	<select id="selectRoomList" parameterType="String" resultType="roomVO">
		SELECT ridx
			 , rtype
			 , rnum
			 , rprice
			 , rimage1
			 , rimage2
			 , rimage3
			 , rimage4
			 , rimage5
		 FROM roomtb
		WHERE lidx = #{lidx}
	</select>
	<select id="selectRoom" parameterType="String" resultType="roomVO">
		SELECT r.ridx
			 , r.rtype
			 , r.rnum
			 , r.rprice		
			 , l.lodgingname
			 , u.username
			 , u.userphone
			 , u.usertype
			 , u.userEmail
		 FROM roomtb r, lodgingtb l, ausertb u
		 WHERE r.lidx = l.lidx
		  AND l.uidx = u.uidx 
		  AND r.ridx = #{ridx}
	</select>
	
</mapper>