<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.projectA.mapper.ManagerMapper">
	<select id="lodgingCategory" resultType="LodgingVO">
		SELECT lodgingname
			,lidx
			,limagename
			FROM lodgingtb
	</select>
	
	<select id="lodgingID" parameterType="int" resultType="RoomVO">
		SELECT ridx
			 , rtype
			 , rnum
			 , rprice
			 , rimage1
			 , rimage2
			 , rimage3
			 , rimage4
			 , rimage5
		 FROM roomtb
		WHERE lidx = #{lidx}
	</select>
	<!-- 숙소 요청 목록  -->
	<select id="requestList" resultType="lodgingVO">
		SELECT u.userid
			 , u.username
			 , u.uidx
			 , l.lidx
			 , l.limagename
			 , l.lodgingname
			 , l.lodgingkind
			 , l.lodgingaddr
		  FROM lodgingtb l, ausertb u
		 WHERE l.uidx = u.uidx
		   AND lodging = 'Waiting'
	</select>
	<!-- 숙소 승인  -->
	<update id="approval" parameterType="int">
		UPDATE ausertb
		   SET lodging = 'Y'
		 WHERE uidx = #{uidx}
	</update>
	<!-- 숙소 승인거부 -->
	<delete id="requestDel" parameterType="int">
		DELETE 
		  FROM lodgingtb
		 WHERE lidx = #{lidx}
	</delete>
	<update id="requestN" parameterType="int">
		UPDATE ausertb
		   SET lodging = 'N'
		 WHERE uidx = #{uidx}
	</update>
	<!-- 예약 리스트 -->
		<select id="reservlist" parameterType="ReservVO" resultType="ReservVO">
			SELECT 
				 u.username
				,l.lodgingname
				,v.reserv_date
				,u.userid
				,v.reserv_num
					FROM ausertb u, lodgingtb l, reservtb v, roomtb r
					where v.uidx = u.uidx
					  and v.ridx = r.ridx
					  and r.lidx = l.lidx
					
		</select>
		<!-- 문의 리스트 -->
		<select id="managerqnalist" resultType="qnaVO">
			SELECT a.username
					, q.qna_idx
					, q.qna_Qtitle
					, q.qna_Qdate 
					, q.qna_Acheck
				FROM ausertb a, QNATB q
				WHERE a.uidx = q.uidx
		</select>
		<!-- 문의 답변 -->
		<update id="qnaReply" parameterType="HashMap">
			UPDATE qnatb
				SET qna_Acontent = #{qna_Acontent}
					,qna_acheck = '답변완료'
				WHERE  qna_idx = #{qna_idx}
		</update>

</mapper>











