<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.MypageMapper">
		
		<!-- 마이페이지 비밀번호 변경 -->
		<update id="changePw">
			UPDATE AUSERTB
				SET userPassword = #{userPassword}
				WHERE userName = #{userName}
		</update>
		
		<!-- 마이페이지 예약내역 -->
		<select id="reserv_list" resultType="reservVO">
			SELECT *
				FROM reservtb	
		</select> 
		
		<!-- 마이페이지 예약내역 페이징(게시물 총개수 구하기) -->
		<select id="reserv_count" resultType="int">
			SELECT COUNT(reserv_idx) 
				FROM reservtb
				WHERE reserv_idx > 0	
		</select>
		
		<!-- 게시물 목록 + 페이징 -->
		<select id="listPage" parameterType="HashMap" resultType="reservVO">
			SELECT reserv_idx
				,username
				,lodgingname
				,reserv_date
				,reserv_startDate
				,reserv_endDate
				,reserv_num
				,rtype
				,ridx
				,rprice
				,uidx
				,lidx
					FROM (
						SELECT reserv_idx
								,username
								,lodgingname
								,reserv_date
								,reserv_startDate
								,reserv_endDate
								,reserv_num
								,rtype
								,v.ridx
								,rprice
								,u.uidx
								,l.lidx
						, ROW_NUMBER() 
							OVER(
								ORDER BY reserv_idx desc
								) 
							AS rNum FROM AUSERTB u, LODGINGTB l, ROOMTB r, reservtb v
							WHERE l.lidx = r.LIDX
						   AND r.ridx = v.ridx
						   AND v.uidx = u.uidx
						   AND u.uidx = #{uidx}
						   )rtb 
							WHERE rNum 
							BETWEEN #{rowStart} AND #{rowEnd} 
							ORDER BY reserv_idx DESC
		</select>
		
		<!-- 예약취소 팝업창 -->
		<select id="reservListPop" parameterType="HashMap" resultType="reservVO">
			SELECT lodgingname
					,reserv_num
					,rprice
					,rtype
					FROM AUSERTB u, LODGINGTB l, ROOMTB r, reservtb v
							WHERE l.lidx = r.LIDX
						   AND r.ridx = v.ridx
						   AND v.uidx = u.uidx
						   AND v.ridx = #{ridx}
						   AND v.uidx = #{uidx}
		</select>
		
		<!-- 예약취소 -->
		<delete id="reserv_refund">
			DELETE FROM reservtb
				WHERE reserv_num = #{reserv_num}
		</delete>
		
		<!-- 리뷰 내역 -->
		<select id="reviewList" parameterType="int" resultType="reviewVO">
			SELECT l.lodgingname
					,rvtitle
					,rvdate
					,rvidx
					,rm.rtype
				 FROM reviewtb r, LODGINGTB l,roomtb rm
					 WHERE l.lidx = r.lidx
					 AND r.ridx = rm.ridx
					 AND r.uidx = #{uidx}
					 
		</select>
		
		<!-- 리뷰 상세 출력 -->
		<select id="reviewList2" parameterType="int" resultType="reviewVO">
			SELECT u.USERID
			 	    ,l.lodgingname
					,rvtitle
					,rvdate
					,rvidx
					,rvSatisfaction
					,rvContent
					,rm.rtype
					 FROM ausertb u, reviewtb r, LODGINGTB l, roomtb rm
						 WHERE l.lidx = r.lidx
						 AND u.uidx = r.uidx
						 AND r.ridx = rm.ridx
						 AND r.rvidx = #{rvidx}
		</select>
		
		<!-- 리뷰 삭제 -->
		<delete id="reviewDt" parameterType="int">
			DELETE FROM reviewtb 
				WHERE rvidx = #{rvidx}
		</delete>
</mapper>



