<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.MypageMapper">
		
		<!-- 마이페이지 비밀번호 변경 -->
		<update id="changePw">
			UPDATE AUSERTB
				SET userPassword = #{userPassword}
				WHERE userName = #{userName}
		</update>
		
		<!-- 마이페이지 예약내역 -->
		<select id="reserv_list" resultType="reservVO">
			SELECT *
				FROM reservtb	
		</select> 
		
		<!-- 마이페이지 예약내역 페이징(게시물 총개수 구하기) -->
		<select id="reserv_count" resultType="int">
			SELECT COUNT(reserv_idx) 
				FROM reservtb
				WHERE reserv_idx > 0	
		</select>
		
		<!-- 게시물 목록 + 페이징 -->
		<select id="listPage" parameterType="criteria" resultType="reservVO">
			SELECT reserv_idx
				,uidx
				,ridx
				,reserv_date
				,reserv_startDate
				,reserv_endDate
				reserv_num
					FROM (
						SELECT reserv_idx
								,uidx
								,ridx
								,reserv_date
								,reserv_startDate
								,reserv_endDate
								,reserv_num
						, ROW_NUMBER() 
							OVER(
								ORDER BY reserv_idx desc
								) 
							AS rNum FROM reservtb
							)rtb 
							WHERE rNum 
							BETWEEN #{rowStart} AND #{rowEnd} 
							ORDER BY reserv_idx DESC
		</select>
		
		
		
</mapper>



