<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.MypageMapper">
		
		<!-- 마이페이지 비밀번호 변경 -->
		<update id="changePw">
			UPDATE AUSERTB
				SET userPassword = #{password}
				WHERE userID = #{userID}
		</update>
		
		<!-- 마이페이지 예약내역 -->
		<select id="reserv_list" resultType="reservVO">
			SELECT *
				FROM reservtb	
		</select> 
		
		<!-- 마이페이지 예약내역 페이징(게시물 총개수 구하기) -->
		<select id="reserv_count" resultType="int">
			SELECT COUNT(reserv_idx) 
				FROM reservtb
				WHERE reserv_idx > 0	
		</select>
		
		<!-- 예약 목록 + 페이징 -->
		<select id="listPage" parameterType="HashMap" resultType="reservVO">
			SELECT reserv_idx
				,username
				,lodgingname
				,reserv_date
				,reserv_startDate
				,reserv_startDate2
				,reserv_endDate
				,reserv_num
				,rtype
				,ridx
				,rprice
				,uidx
				,lidx
				,limagename
				,reviewCheck
					FROM (
						SELECT reserv_idx
								,username
								,lodgingname
								,reserv_date
								,reserv_startDate
								,TO_DATE(reserv_startDate,'YYYY-MM-DD')AS reserv_startDate2
								,reserv_endDate
								,reserv_num
								,rtype
								,v.ridx
								,rprice
								,u.uidx
								,l.lidx
								,limagename
								,reviewCheck
						, ROW_NUMBER() 
							OVER(
								ORDER BY reserv_idx desc
								) 
							AS rNum FROM AUSERTB u, LODGINGTB l, ROOMTB r, reservtb v
							WHERE l.lidx = r.LIDX
						   AND r.ridx = v.ridx
						   AND v.uidx = u.uidx
						   AND u.uidx = #{uidx}
						   )rtb 
							WHERE rNum 
							BETWEEN #{rowStart2} AND #{rowEnd2} 
							ORDER BY reserv_idx DESC
		</select>
		
		<!-- 예약취소 팝업창 -->
		<select id="reservListPop" parameterType="HashMap" resultType="reservVO">
			SELECT lodgingname
					,reserv_num
					,rprice
					,rtype
					FROM AUSERTB u, LODGINGTB l, ROOMTB r, reservtb v
							WHERE l.lidx = r.LIDX
						   AND r.ridx = v.ridx
						   AND v.uidx = u.uidx
						   AND v.ridx = #{ridx}
						   AND v.uidx = #{uidx}
		</select>
		
		<!-- 예약취소 -->
		<delete id="reserv_refund" parameterType="ReservVO">
			DELETE FROM reservtb
				WHERE reserv_num = #{reserv_num}
		</delete>
		<!-- 예약취소 시 남은객실 수정시키기 -->
		<update id="reserv_Check" parameterType="ReservVO">
			UPDATE roomtb SET spareroom = spareroom+1 
							WHERE ridx = #{ridx}
			
		</update>
		
		<!-- 리뷰 내역 -->
		<select id="reviewList" parameterType="HashMap" resultType="reviewVO">
			SELECT lodgingname
					,rvtitle
					,rvdate
					,rvidx
					,rtype
					,limagename
					,reserv_startDate
					,reserv_endDate
					FROM ( 
						SELECT lodgingname
						,rvtitle
						,rvdate
						,rvidx
						,rtype
						,limagename
						,reserv_startDate
						,reserv_endDate
						, ROW_NUMBER() 
							OVER(
								ORDER BY rvidx desc
								) 
								AS rNum FROM reviewtb r, LODGINGTB l,roomtb rm,reservtb rv
								 WHERE l.lidx = r.lidx
								 AND r.ridx = rm.ridx
								 AND rv.ridx = r.ridx
								 AND r.uidx = #{uidx}
								 )rtb  
								 WHERE rNum BETWEEN #{rowStart2} AND #{rowEnd2}
								ORDER BY rvidx DESC
		</select>
		
		<!-- 마이페이지 리뷰내역 페이징(게시물 총개수 구하기) -->
		<select id="review_count" resultType="int">
			SELECT COUNT(rvidx) 
				FROM reviewtb
				WHERE rvidx > 0	
		</select>
		
		<!-- 리뷰 상세 출력 -->
		<select id="reviewList2" parameterType="int" resultType="reviewVO">
			SELECT u.USERID
			 	    ,l.lodgingname
					,rvtitle
					,rvdate
					,rvidx
					,rvSatisfaction
					,rvContent
					,rm.rtype
					 FROM ausertb u, reviewtb r, LODGINGTB l, roomtb rm
						 WHERE l.lidx = r.lidx
						 AND u.uidx = r.uidx
						 AND r.ridx = rm.ridx
						 AND r.rvidx = #{rvidx}
		</select>
		
		<!-- 리뷰 삭제 -->
		<delete id="reviewDt" parameterType="int">
			DELETE FROM reviewtb 
				WHERE rvidx = #{rvidx}
		</delete>
</mapper>



