<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.ReservMapper">
		
		<insert id="reservInsert" parameterType="HashMap">
			INSERT INTO reservtb
				VALUES(reserv_seq.NEXTVAL,#{uidx},#{ridx},SYSDATE,SYSDATE,#{merchant_uid},SYSDATE,'N')
		</insert>
		
</mapper>
