<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.ReservMapper">
		
		<insert id="reservInsert" parameterType="HashMap">
			INSERT INTO reservtb
				VALUES(null,#{uidx},#{ridx},#{reserv_startDate},#{reserv_endDate},#{merchant_uid},now(),'N')
		</insert>	
		<select id="ridxList" parameterType="int" resultType="reservVO">
			SELECT ridx 
			FROM reservtb
			WHERE ridx = #{ridx}
		</select>
</mapper>
