<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		<mapper namespace="team.projectA.mapper.UserMapper">
		<insert id="userInsert" parameterType="userVO">
			INSERT INTO ausertb(
						  uidx
						, userID
						, userPassword
						, userName
						, userEmail
						, userPhone
						, userGender
						, userBirth
						) VALUES(
						  auidx_seq.nextval
						, #{userID}
						, #{userPassword}
						, #{userName}
						, #{userEmail}
						, #{userPhone}
						, #{userGender}
						, #{userBirth}
						)
		</insert>
		<!-- 판매자 회원가입 -->
		<insert id="sellerUserInsert" parameterType="userVO">
			INSERT INTO AUSERTB (
					uidx
					,userID
					,userPassword
					,userName
					,userEmail
					,userPhone
					,userGender
					,userBirth
					,userType)
				VALUES(
					AUIDX_SEQ.NEXTVAL
					, #{userID}
					, #{userPassword}
					, #{userName}
					, #{userEmail}
					, #{userPhone}
					, #{userGender}
					, #{userBirth}
					,'판매자'
					)
		</insert>
		
		<!-- 아이디 중복확인 -->
		<select id="userForm" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(userID) 
				FROM ausertb 
				WHERE userID = #{userID} 
			]]>
		</select>
		<!-- 로그인 -->
		<select id="login" parameterType="userVO" resultType="userVO">
			SELECT uidx
					,userID
					,userName
					,userEmail
					,userPhone
					,userBirth
					,userPassword
					,userType
					,lodging
					FROM ausertb
					WHERE userID = #{userID}
					AND userPassword = #{userPassword}
		</select>
		
		<!-- 회원탈퇴 -->
		<!-- 1.아이디 삭제 -->
		<delete id="userDt">
			DELETE FROM ausertb
				WHERE userID = #{userID}
				AND userPassword = #{userPassword}
		</delete>
		<!-- 2.리뷰 삭제 -->
		<delete id="reviewDt">
		DELETE FROM reviewtb 
			WHERE uidx = #{uidx}
		</delete>
		<!-- 3.예약내역 삭제 -->
		<delete id="reservDt">
			DELETE FROM reservtb 
				WHERE uidx = #{uidx}
		</delete>
		
		<!-- 회원리스트 -->
		<select id="userlist" parameterType="userVO" resultType="userVO">
			SELECT * FROM  AUSERTB 
		</select>
		
		<!-- 비밀번호 찾기 -->
		<update id="pwUpdate">
			UPDATE AUSERTB 
				SET userpassword = #{pw} 
				WHERE userid = #{id}
		</update>
		
		<!-- 아이디 존재 여부 --> 
		<select id="userSearch" parameterType="String" resultType="int">
			<![CDATA[
			SELECT COUNT(userID) 
				FROM ausertb 
				WHERE userID = #{userID} 
			]]>
		</select>
</mapper>
