<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
		
<configuration>
	<settings>
		 <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
	<typeAliases>
		<typeAlias type="team.projectA.vo.UserVO" alias="userVO"/> 
		<typeAlias type="team.projectA.vo.LodgingVO" alias="lodgingVO"/>
		<typeAlias type="team.projectA.vo.RoomVO" alias="roomVO"/>
		<typeAlias type="team.projectA.vo.QnaVO" alias="qnaVO"/>
		<typeAlias type="team.projectA.vo.ReviewVO" alias="ReviewVO"/>
		
		<!-- <typeAlias type="edu.board.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="edu.board.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="edu.board.vo.SearchVO" alias="searchVO"/> -->
	</typeAliases>

</configuration>