@charset "utf-8";

a{text-decoration: none;}
.fixedclear::after{content: ''; display:block; clear:both;}

li{list-style:none;}
img,iframe{vertical-align:top;}

.clearfix::after{content:""; display:block; clear:both;}
.inner{width:1024px; margin:0 auto; height:auto;}
#header{ margin:0 auto;
        height: 100px;
        overflow: hidden;
        background-color: rgb(86,19,241);}
#header h3{color:white; 
            float:left; 
            font-size: 30px;
            margin:30px 30px 30px;}
#header #manager{color:white;}
#header #manager li{display: inline-block; 
                    margin:40px 150px 40px;}
.top li a{text-decoration: none;
          color:white;}

#inner{width:1024px; margin:0 auto; }
#up_nav{overflow:hidden; }
#up_nav li{float:left; margin-top:50px; margin-right:30px;
}
#up_nav li:nth-child(3){background-color:rgb(86,19,241); }

#up_nav li:nth-child(odd){border:1px solid rgb(86,19,241);
                          padding:10px 20px 10px 20px;
                          border-radius:8px; }
#up_nav li:nth-child(even){margin-top:60px;}
#inner #up_nav img{width:20px;}
#up_top_left{width: 50%; float:left; }
#up_top #main_img{border:1px solid black; width:283px; height:260px;
                  margin:80px 0 0 150px; }

#up_top_left li{border:1px solid black; width:65px; height:65px;}

#up_top_left ul:first-child{margin-left:150px;}
#up_top_left ul{margin-top:5px; display: inline-block;}
    
#up_top_left img{margin-left:8px; margin-top:5px;
                 width:50px;}

#up_top_right{width: 48%; float:right;
              margin-top:100px;}
#up_top_right td:nth-child(1){font-weight:bold;}
#up_top_right td:nth-child(2){padding-left:20px;
                        }
#up_top_right td{padding-bottom:20px;}

.container{margin-top:50px;}
#inner_bottom{margin-top:50px; text-align:center;}
#inner_bottom #pre{padding: 5px 10px 5px 10px; 
    background-color:white;
    border-radius:8px; color:black;
    border:1px solid black;}
#inner_bottom #next {padding: 5px 10px 5px 10px; 
        background-color:rgb(86,19,241);
        border-radius:8px; color:white;
        border:1px solid rgb(86,19,241);}


                        /*footer*/
footer{
    margin-top:150px;
    height:100%; width:100%; background-color:rgba(0,0,0,0.15);}
footer #foot{margin: 0 auto; width:1024px; height:100%; }
footer #copy{color:#919191;}
                /*end footer*/




