@charset "UTF-8";

.clearfix::after{content:""; display:block; clear:both;}

#header{ margin:0 auto;
        height: 100px;
        overflow: hidden;
        background-color: rgb(86,19,241);}
#header h3{color:white; 
            float:left; 
            font-size: 30px;
            margin:30px 30px 30px;}
#header #manager{color:white;}
#header #manager li{display: inline-block; 
                    margin:40px 150px 40px;}
.header li a{text-decoration: none;
          color:white;}

          
main {width:1024px; margin:0 auto;}    
#lodgingtb > h2{margin:50px 30px; 
				font-weight:bold; font-size:25px;}
.top{margin-top:80px;}
.top_left, .mid_left{width:50%; float:left;}
.limage{font-weight:bold; font-size:17px; margin-left:40px;}
.limage > *{margin-bottom:10px;}
.lodging_img{border:1px solid #000; width:440px; height:370px;}
.lodging_img > img{width:100%; height:100%;}
.top_right, .mid_right{width:50%; float:right;}  
.top_right{margin-top:50px;}  
.top_right table{margin-top:15px; margin-left:30px;}       
.top_right td{padding-bottom:20px;}         
.top_right td:nth-child(1){font-weight:bold; padding-right:20px;}
.top_right td > input{padding:5px; width:340px;}
.top_right select{padding:5px; width:105px;}
select option[value=""][disabled] {display:none;}
#intro {vertical-align:top;}
textarea {resize:none;}
#fk {margin:90px 0;}
.middle {}
.intro {color:rgba(0, 0, 0, 0.626); margin:0 0 60px 40px;}
.mid_left > div {margin-left:40px;}
.mid_right > div {margin-right:40px;}
.check_name {font-size:20px; font-weight:bold; text-align:center;}
.check_contents {border:1px solid black; margin:20px auto;
				width:390px; height:210px;}
.check_contents ul {display:flex; flex-wrap:wrap; 
					width:auto; margin:12px 8px 8px;}
.check_contents li {width:110px; margin:2px 7px;}
.check {margin-right:5px;}
.bottom {margin-top:80px;}
/* .info {margin:0 0 50px 40px; display:flex;} */
.info {margin-left: 40px; display:flex;}
.info p {font-size:20px; font-weight:bold; width:155px; line-height:29px;
		margin-right:70px;}
.plus {width:400px; padding:5px; margin-right:5px;}
.plus2 {width:400px; padding:5px; margin-right:5px; margin-left:265px;}
.space {margin-bottom:50px;}
.btn_submit {text-align:center; margin-top:40px;}
.btn_submit button {color:white; border:1px solid #5613F1; background:#5613F1;
					padding:5px 15px; border-radius:5px;}

            
footer{
    margin-top:150px;
    height:100%; width:100%; background-color:rgba(0,0,0,0.15);}
footer #foot{margin: 0 auto; width:1024px; height:100%; }
footer #copy{color:#919191;}