@charset "UTF-8";

li{list-style:none;}
img,iframe{vertical-align:top;}

.clearfix::after{content:""; display:block; clear:both;}
.inner{width:1024px; margin:0 auto; height:auto;}
#header{ margin:0 auto;
        height: 100px;
        overflow: hidden;
        background-color: rgb(86,19,241);}
#header h3{color:white; 
            float:left; 
            font-size: 30px;
            margin:20px 30px 30px;}
#header #manager{color:white;}
#header #manager li{display: inline-block; 
                    margin:40px 150px 40px;}
.top li a{text-decoration: none;
          color:white;}
.nav{margin-top:80px;}
.nav img{width:350px;}
.nav #info{display:flex;}
.nav #lodgingName{font-size:30px; margin-left:20px; font-weight:bold;} 
.nav button{margin-top:230px;}
.nav #info div:nth-child(3){margin-left:200px; margin-right:10px;;}


main div h3, nav .nav h3{font-weight: bold;
        font-size: 20px;
        margin-top:120px;
        margin-bottom: 20px;
}



hr{width:1020px;
        margin:16px 0px;
        opacity: .25;}

table{margin-top:10px;}


td img{width:100%; max-height:200px;}
thead{font-weight: bold;
        height:30px;
        border-bottom:1px solid#000;
        }
thead th{width:250px; }
table td{padding:9px; }
table tr td{vertical-align: middle;}
tbody td{border-bottom: 1px solid rgb(214, 214, 214); }
ul{text-align: center;
        margin-top:10px;}
input{ font-size: 15px;;
        color:white;
        background-color: rgb(86,19,241);}
        
 footer{
    margin-top:150px;
    height:100%; width:100%; background-color:rgba(0,0,0,0.15);}
footer #foot{margin: 0 auto; width:1024px; height:100%; }
footer #copy{color:#919191;}
                /*end footer*/



