@charset "utf-8";


            /*리셋코드*/
* {MARGIN:0; PADDING:0;}                                        /*헤더 높이 수정, nav 아래 글자 위치 수정, 숙소 리스트 텍스트 줄 간격 수정. footer영역 사이즈 바뀌는것 수정 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none; color: inherit;}
UL,li{list-style:none;}
            /*리셋코드*/

              /*header*/

header h2{
    text-align: center;
    font-size:25px;
    font-weight: bold;
    padding:15px 0 15px 0;
}

            /*main*/
#headLine{
	width:100%;
	height:1px;
	background-color:#919191;
	margin-bottom:10px;
}
main table{
    font-size:20px;
}
main #contentsArea{
    width:500px;
    height:300px;
    margin:0 auto;
}
main #table1{
	width:508px;
    margin:0px auto;
    height:300px;
}
main .info{
    width:200px;
    height:30px;
}
main #info{
    width:300px;
    height:90px;
}
main #table2{
    margin:10px auto;
}
main .margin1{
    padding-right:50px;
    text-align:center;
}
main .margin2{
	padding:15px 50px 0 0;
	text-align:center;
}

main #clearBtn{
    width: 150px;
    height:30px;
    color:rgba(255,255,255,0.8);
	background-color:rgb(86, 19, 241);
	font-weight:bold;
	border:0px solid #000;
	border-radius:2px;
}
main #clearBtn:hover{
	color:white;
}
#review_Img{
	width:110px;
	height:70px;
}
.td_vertical-align{
	vertical-align:middle;
}

table tr{
	background-color:white;
}
table tr td{
	background-color:white;
}
#lodgingText{
	
}
#rtypeText{
	color:#bbb;
	margin: 3px 0 3px 0;
	font-size:20px;
}
#dateText{
	color:#bbb;
	font-size:18px;
}
.tr_background{
	height:1px;
	background-color:#bbb;
	margin-bottom:5px;
	
}
#selectStyle{
	width:200px;
	height:30px;
}
.cursorStyle{
	cursor:pointer;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-image: url('../../images/review_images/starrate.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
    background-color: #ff8200;
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.satisfactionStyle{
	padding: 10px 0 8px 0
}
.vertical_middle{
	vertical-align:middle;
}
.td_padding1{
	padding-bottom: 9px;
}
.td_padding2{
	padding-bottom: 10px;
}
.reviewContentArea{
	padding: 10px 0 5px 0;
}
                /*footer*/
footer{height:137px; width:100%; background-color:rgba(0,0,0,0.15);}
footer #foot{margin: 0 auto; width:1024px; height:127px;}
footer #copy{color:#919191;}
                /*end footer*/