@charset "utf-8";


            /*리셋코드*/
* {MARGIN:0; PADDING:0;}                                        /*헤더 높이 수정, nav 아래 글자 위치 수정, 숙소 리스트 텍스트 줄 간격 수정. footer영역 사이즈 바뀌는것 수정 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none; color: inherit;}
UL,li{list-style:none;}
            /*리셋코드*/

              /*header*/

header h2{
    width:1024px; margin: 0 auto;
    text-align: center;
    font-size:30px;
    font-weight: bold;
    padding:50px 0 30px 0;
}

            /*main*/
main{
    height:810px;
}
main table{
    font-size:20px;
}
main #contentsArea{
    border:1px solid #919191;
    width:500px;
    height:300px;
    margin:0 auto;
    border-radius: 3px;
}
main #table1{
    margin:30px auto;
    height:300px;
}
main .info{
    width:200px;
    height:30px;
}
main #info{
    width:300px;
    height:90px;
}
main #table2{
    margin:30px auto;
    height:200px;
}
main .margin1{
    padding-right:50px;
}

main #clearBtn{
    width: 100px;
    height:30px;
}
                /*footer*/
footer{height:137px; width:100%; background-color:rgba(0,0,0,0.15);}
footer #foot{margin: 0 auto; width:1024px; height:127px;}
footer #copy{color:#919191;}
                /*end footer*/