@charset "utf-8";


            /*리셋코드*/
* {MARGIN:0; PADDING:0;}                                        /*헤더 높이 수정, nav 아래 글자 위치 수정, 숙소 리스트 텍스트 줄 간격 수정. footer영역 사이즈 바뀌는것 수정 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none; color: inherit;}
UL,li{list-style:none;}
            /*리셋코드*/

                             
                  /*header*/
header h2{
    width:1024px; margin: 0 auto;
    text-align: center;
    font-size:30px;
    font-weight: bold;
    padding-top:50px;
}

            /*main*/
main #table1{
    margin:0 auto 10px auto;
    text-align:center;
}
main .contentsArea{
    padding-top:30px;
}   
main .inputArea{
    width:170px;
    height:25px;
    padding: 0 5px 0 20px;
}
main #clearBtn{
    
    width:60px;
    height:30px;
}
main #emailBtn{
    width:100px;
    height:25px;
}
main #man{
    
    margin-right:20px;
}
main #table2{
    margin:25px auto;
    
}
main #join{
    padding-right:30px;
}
main .footBtn{
    width:70px;
    height:30px; 
}
main #provisionArea{
    width:80px;
    height:20px;
    margin-left:50px;
    border:1px solid #000;
}
main .id_ok{
	color:green; 
	display:none; 
	font-weight:bold; 
	border:1px solid green; 
	border-radius:5px; 
	background-color:#ccffcc; 
	font-size:15px; 
	width:100%; 
	height:21px; 
	line-height:18px;
}  
main .id_no{
	color:red; 
	display:none; 
	font-size:15px; 
	height:20px; 
	line-height:18px; 
	font-weight:bold; 
	width:100%; 
	border:1px solid red; 
	border-radius:5px; 
	background-color:#ffcccc;
}      
main .id_no2{
	color:red; 
	font-size:5px; 
	height: 23px; 
	line-height:17px; 
	display:none; 
	width:100%; 
	font-weight:bold; 
	border:1px solid red; 
	border-radius:5px; 
	background-color:#ffcccc;
}
main .pw_no2{
	color:red; 
	font-size:5px; 
	height: 23px; 
	line-height:17px; 
	display:none; 
	width:100%; 
	font-weight:bold; 
	border:1px solid red; 
	border-radius:5px; 
	background-color:#ffcccc;
}
main .pw_no3{
	color:red; 
	height:24px; 
	width:100%;
	line-height:20px; 
	font-size:11px; 
	display:none;  
	font-weight:bold; 
	border:1px solid red; 
	border-radius:5px; 
	background-color:#ffcccc;
}
main .pw_ok{
	color:green; 
	display:none;  
	font-size:15px; 
	font-weight:bold; 
	padding:4px 0 2px 0; 
	width:100%; 
	border:1px solid green; 
	border-radius:5px; 
	background-color:#ccffcc;
}
main .pw_no{
	color:red; 
	display:none;  
	font-size:15px; 
	font-weight:bold; 
	padding:4px 0 2px 0;  
	width:100%; 
	border:1px solid red; 
	border-radius:5px; 
	background-color:#ffcccc;
}

main .pw_no4{
	color:green; 
	display:none; 
	font-weight:bold; 
	border:1px solid green; 
	border-radius:5px; 
	background-color:#ccffcc; 
	font-size:15px; 
	width:100%; 
	height:21px; 
	line-height:18px;
}

.modal {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;

        background-color: rgba(0, 0, 0, 0.4);
      }

.modal.show {
        display: block;
      }

.modal_body {
        position: absolute;
        top: 30%;
        left: 50%;

        width: 400px;
        height: 250px;
		line-height:35px;
        padding: 40px;

        text-align: center;

        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 2px solid #000;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

        transform: translateX(-50%) translateY(-50%);
      }
#joinText{
     	padding-top:20px;
     }
     
#mail_check_input{
     	width:180px;
     	height:21px;
     	
     }
#mail_check_button{
     	color:rgba(255,255,255,0.8);
     	background-color:rgb(86, 19, 241);
     	font-weight:bold;
		border:0px solid #000;
		border-radius:2px;
     }
#mail_check_button:hover{
		color:white;
     }
#logo1{
     	width:150px;
     }
     
main .email_ok{
    color:green; 
	display:none;  
	font-size:15px; 
	font-weight:bold; 
	padding:4px 0 2px 0; 
	width:180px; 
	border:1px solid green; 
	border-radius:5px; 
	background-color:#ccffcc;
    }
main .email_no{
    color:red; 
	display:none;  
	font-size:15px; 
	font-weight:bold; 
	padding:4px 0 2px 0;  
	width:180px; 
	border:1px solid red; 
	border-radius:5px; 
	background-color:#ffcccc;
    }
.BtnStyle{
	cursor:pointer;
	color:rgba(255,255,255,0.8);
   	background-color:rgb(86, 19, 241);
   	font-weight:bold;
	border:0px solid #000;
	border-radius:2px;
}
.BtnStyle:hover{
	color:white;
}
.email_ok{
	display:none;
}
.email_no{
	display:none;
}
.btn-open-popup{
	width:110px;
	height:25px;
}
#main_logo{
	width:150px;
}
#loading{ 
	display:none;
	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	position: fixed;
  	z-index: 99;
  	text-align: center;
	margin-left:0px;
}         
#loading > img {
  	position: absolute;
  	top: 36.4%;
  	left: 49%;
  	width:25px;
  	z-index: 100;
}