@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

            /*리셋코드*/
* {
	MARGIN:0; 
	PADDING:0;
}                                        /*헤더 높이 수정, nav 아래 글자 위치 수정, 숙소 리스트 텍스트 줄 간격 수정. footer영역 사이즈 바뀌는것 수정 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration:none; 
	color: inherit;
}
UL,li{
	list-style:none;
}
            /*리셋코드*/



body{background-color:aliceblue;}
i{font-size:50px}


				/*header */
header #inner{ 
	width:1024px; 
	height:100%; 
	margin:0 auto; 
	position:relative;
}
header{
	position:fixed; 
	top:0; 
	left:0;
	width:100%; 
	height: 100px; 
	background-color:rgb(86, 19, 241); 
	z-index:999;
} 
header h1 { 
	float: left; 
	margin-top: 10px; 
}
header h1 img{
	width:130px; 
	height:80px;
}
header ul{
	float:right; 
	display: flex; 
	align-items: center; 
	 height: 100%;
}  
header ul li:first-child{
	padding-right:20px;
}
header li:not(:first-child){
	margin-left: 20px;
}  
header li a{
	color:white;
	font-size:22px;
	font-weight:bold;
}

#inner > ul > li:first-child {
    position: relative;
   
}
select{
    width: 68px;
    height: 25px;
    border-radius: 5px;
    vertical-align: middle;
}
 #keywordInput{
	width: 200px;
    height: 21px;
    vertical-align: middle;
}

#searchBtn{
	vertical-align: middle;
    width: 60px;
    height: 25px;
    cursor: pointer;
	
} 
header .search{
	font-size:30px;
 	color:rgba(255,255,255,0.8);
 }   
header .search:hover{
	color:white;
	} 
header #login{
	color:rgba(255,255,255,0.8);
	}    
header #login:hover{
	color:white;
	}   
header .logout{
	color:rgba(255,255,255,0.8);
	font-size:15px;
}  
header .logout:hover{
	color:white;
}
header #mypage{
	color:rgba(255,255,255,0.8);
	font-size:15px;
	border-left:1px solid #fff; 
	padding-left:5px;
}  
header #mypage:hover{
	color:white;
}
header #seller{
	color:rgba(255,255,255,0.8);
	font-size:15px;
	border-left:1px solid #fff; 
	padding-left:5px;
}  
header #seller:hover{
	color:white;
}
header #manager{
	color:rgba(255,255,255,0.8);
	font-size:15px; 
	border-left:1px solid #fff; 
	padding-left:5px;
}  
header #manager:hover{
	color:white;
}


            	/*end header */



            /*main*/
main .description:hover{
    color:rgb(86, 19, 241);
}
main{
	width:1024px; 
	margin: 0 auto; 
	background-color:white;
}
main .white{
	height:10px; 
	background-color:aliceblue;
}
main nav{ 
	HEIGHT:120PX; 
	padding-top:100px;
}
main nav UL {
	DISPLAY:FLEX; 
	WIDTH: 100%; 
	HEIGHT: 100%; 
	ALIGN-ITEMS:CENTER; 
	JUSTIFY-CONTENT: SPACE-BETWEEN;
} /*display:flex를 주면 수평정렬. align-items는 수평위치 /justify는 수직위치.*/
main nav li{
	PADDING:0 50PX; 
	text-align: center; 
}
main nav i{
	color:rgb(86, 19, 241);
}
main nav p{
	font-weight:bold; 
	font-size:18px; 
	color:black;
}
main #main_img{
	height:500px;
}
main #main_img img{
	height:500px; 
	width:1024px;
}
#gnb a { 
	display:inline-block; 
	position:relative;
}
#gnb p:hover{
	color:rgb(86, 19, 241);
} 


main #slide_list{
	margin-top:10px; 
	padding-bottom: 50px;
}
main #slide_list h4{
	display:inline-block; 
	border-bottom:5px solid rgb(86, 19, 241); 
	margin:20px; 
	padding-bottom:7px;
	font-size:25px;
}
main #slide_list img{
	width:270px; 
	height:180px;
}
main #slide_list ul{
	display:flex; 
	align-items:center; 
	JUSTIFY-CONTENT: SPACE-BETWEEN; 
	flex-wrap:wrap;
}
main #slide_list li{
	width:50%; 
	padding-left: 120px; 
	box-sizing:border-box; 
	padding-bottom:30px;
}
main .slide_list{
	margin-top:10px; 
	padding-bottom: 20px;
}
main .slide_list h4{
	display:inline-block; 
	border-bottom:5px solid rgb(86, 19, 241); 
	margin:20px; 
	font-size:25px; 
	padding-bottom:10px;
}
main .slide_list img{
	width:230px; 
	height:180px;
}
main .slide_list ul{
	display:flex; 
	align-items:center; 
	JUSTIFY-CONTENT: SPACE-BETWEEN;
}
main .slide_list li{
	padding: 0 50px;
}
main .slide_list a{
	padding-bottom:20px;
}
main .slide_list .lod_name{ 
	font-size:18px; 
	line-height:2em;
}
main .slide_list { 
	font-size:15px; 
	font-weight:bold; 
	line-height:2em;
}
/*모달*/
#modal {
	display:none;
	position:relative;
	top:-150px;   
	width:100%;
	height:100%;
	vertical-align: middle;
	z-index:7;
}

#modal button {
	display:inline-block;
	width:100px;
	margin-left:calc(100% - 100px - 10px);
	margin-top: 20px;
	background: none;
	border-radius: 3px;
	cursor:pointer;
}
#modal .modal_content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 600px;
	padding: 40px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}
#modal .modal_layer {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index:-1;
} 
#modalImg img{
	width:80px; 
	height:80px;
}
#modalImg{
	float:left;
}
#modalR{
	float:right; 
	padding-top:10px;
}
.modalinfo{
	color:blue;
}  
/*스와이퍼*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*end 스와이퍼*/

.lod_rtype .sale i {
    font-size: 15px;
    
}
.lod_rtype .price i {
    font-size: 15px;
    font-style: normal;
}

.promotion {
    text-align: left;
    margin: 10px 0 5px ;
}
.promotion span {
    display: inline-block;
    padding: 5px 10px;
    background: rgb(226, 44, 44);
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    
}
#festival_content .swiper-slide,
#best_item .swiper-slide {
    padding-bottom: 30px;
}
.lod_name{
	font-weight: bold;
    font-size: 22px;
    padding-right: 5px;
    margin-top: 6px;
}
.lod_rtype{
	color:#bbb;
	text-align: revert;
	font-size:16px; 
	line-height:2em;
	height:26px;
}
.lod_satisfaction{
	margin-top: 5px;
    font-size: 16px;
}
.text_left{
	text-align:left;
}
.lod_price{
	font-weight: bold;
    font-size: 21px;
    text-align: center;
    padding: 5px 0 0 56px;
}
.festival_name{
	font-size: 16px;
}
.festival_text{
	font-size: 16px;
    font-weight: normal;
}
.trip_name{
	font-size: 16px;
}
.trip_text{
	font-size: 16px;
    font-weight: normal;
}
.star{
	color:#FF8200;
}
#cursor_Style{
	cursor:pointer;
	border: 0px;
    background: none;
}
.font_Style{
	font-family: 'Noto Sans KR', 산세리프;
}
.font_StyleBold{
	font-weight:bold;
}
.lod:hover{
	color:rgb(86, 19, 241);
	font-weight:bold;
}
.border{
	border-right: 1px solid rgba(0,0,0,0.15);
}
.xi-search{
	font-size:31px;
	padding-right: 14px;
}
#searchArea{
	position:relative;
	overflow: hidden; 
	display:none; 
	z-index:998;
	left:-1%;
}
.searchBarOn{
	position:relative;
	cursor:pointer;
	color:rgba(255,255,255,0.8);
	z-index:999;
}
.searchBarOn:hover{
	color:white;
}
.search_background{
	position:fixed;
	top:0;
	left:0; 
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.3);
	display:none;
	z-index:997;
}
#map{
	width:100%;
	height:500px;
}
                /*end main*/

                /*footer*/
footer{
	height:100%; 
	width:100%; 
	background-color:rgba(0,0,0,0.15);
}
footer #foot{
	margin: 0 auto; 
	width:1024px; 
	height:100%;
}
footer #copy{
	color:#919191;
}
                /*end footer*/